<% form_for [:admin, @album] do |f| -%>
  <%= render :partial => "/shared/admin/error_messages", :locals => {
          :object => @album,
          :include_object_name => true
        } %>  

  <div class='field'>
    <%= f.label :title -%>
    <%= f.text_field :title, :class => 'larger widest' -%>
  </div>
  <div class='field'>
    <%= f.label :image -%>
    <%= render :partial => "/shared/admin/image_picker", :locals => {
      :f => f,
      :field => :album_image_id,
      :image => @album.image,
      :toggle_image_display => false
    } %>
  </div>
 

  <%= render :partial => "/shared/admin/form_actions",
              :locals => {
                :f => f,
                :continue_editing => false,
                :delete_title => t('delete', :scope => 'admin.albums.album'),
                :delete_confirmation => t('message', :scope => 'shared.admin.delete', :title => @album.title)
              } %>
<% end -%>

<% content_for :javascripts do %>
  <script>
    $(document).ready(function(){
      page_options.init(false, '', '');
    });
  </script>
<% end %>
