<div id='records'>
  
  
    <div class='pagination_container'>
      
		<ul id='sortable_list'>
		  <%= render :partial => 'song', :collection => @album.songs %>
		</ul>
		<%= render :partial => "/shared/admin/sortable_list",
		            :locals => {
		              :continue_reordering => (local_assigns.keys.include?(:continue_reordering)) ? continue_reordering : true
		            } %>
    </div>
  
</div>

<div id='actions'>
  <ul>
    <% if Admin::SongsController.searchable? %>
      <li>
        <%= render :partial => "/shared/admin/search",
                    :locals => {
                      :url => admin_album_songs_url(@album)
                    } %>
      </li>
    <% end %>
    <li>
      <%= link_to t('.create_new'), new_admin_album_song_url(@album),
                   :class => "add_icon" %>
    </li>
	<li>
	  <%= link_to t('.reorder', :what => "Songs"),
	               admin_album_songs_url(@album),
	               :id => "reorder_action",
	               :class => "reorder_icon" %>

	  <%= link_to t('.reorder_done', :what => "Songs"),
	               admin_album_songs_url(@album),
	               :id => "reorder_action_done",
	               :style => "display: none;",
	               :class => "reorder_icon" %>
	</li>
 </ul>


</div>
<%= render :partial => "/shared/admin/make_sortable",
            :locals => {
              :tree => false
            } if !searching? and Admin::SongsController.sortable? and @album.songs.count > 1 %>
    
  